
* { 
   box-sizing: border-box;
}

html, body {
   padding: 0;
   margin: 0;
}

h1, h2, h3, h4, h5, h6, 
p, a, 
span, div,
button, input, select {
   font-family: 'Ubuntu', sans-serif;
   margin-bottom: 10px;
}

h1 {
   font-size: 2.25rem;
   text-align: center;
   font-weight: 500;
   margin: 1rem 0;
}

h2 {
   font-size: 2rem;
   font-weight: 500;
   margin: 0 0 1rem;
}

h3, h4 {
   margin-top: 0;
   font-weight: 300;
}

#root {
   display: flex;
   width: 100%;
   justify-content: center;
}

.container {
   width: 800px;
   max-width: 100%;
}



input, select, textarea {
   width: 100%;
   font-size: 16px;
   padding: 4px 6px;
   border-radius: .5rem;
   border: 1px solid lightgrey;
}

textarea {
   height: 80px;
   resize: none;
   padding: 10px;
}

/* Personal Details */
.personalDetails {
   display: flex;
   gap: 2%;
}
.personalDetails div {
   width: 49%;
}
.personalDetails .input input {
   width: 100%;
}

/* Tasklist */


/* Screen Modal */
.modal {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
}

.modal.hide {
   display: none; 
}